.heading {
    background-color: lightblue;
    color: darkred;
    padding: 30px;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.body-text{
    padding: 5px;
}